*{
    padding: 0%;
    margin: 0%;
}

body{
    width:100vw;
    height:100vh;
    position: relative;
}

.chatBox{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 90%;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 5px;
}

.messageBox{
    width: 100%;
    flex: 1;
    overflow-y: auto;
}


.baloon{
    margin:10px;
    padding: 5px 15px;
    box-shadow: 0px 0px 2px 0px black;
    border-radius:32px;
    display: inline;
    width: fit-content;
    border-radius: 5px;   
}

.baloon .name{
    font-size: 10px;
}

.receive{
    align-self: flex-start;
    background-color: dodgerblue;
    color: white;
}

.sent{
    align-self: flex-end;
}

.notification .line{
    flex: 1;
    height: 0px;
}

.notification .info{
    margin: 0px 10px;
}

.notification.connect .line{
    border: 1px dashed rgb(85, 245, 85);
}

.notification.disconnect .line{
    border: 1px dashed rgb(245, 85, 85);
}
.notification.connect .info{
    color: rgb(85, 245, 85);
    font-weight: bold;
}

.notification.disconnect .info{
    color: rgb(245, 85, 85);
    font-weight: bold;
}